.image
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center  
  flex: 1
  padding: 80px
  img
    max-width: 100%
    max-height: 100%
    border: $default-border
    padding: 3px
    border-radius: 3px   
    margin-bottom: 60px   
    box-shadow: $glow-shadow      
    &.good
      background-color:  $mint-dark          
    &.bad
      background-color:  $grapefruit-dark
    &.unclassified
      background-color:  $aqua-dark
  .home-button
    position: absolute
    top: 20px
    left: 320px
    box-shadow: $lift-shadow
  .btn-group
    position: absolute
    left: 50%
    bottom: 40px
    margin-left: 69px
