.overview
  overflow-y: auto
  padding: 20px
  .row
    min-height: 220px    
    margin-bottom: 10px    
  .card
    height: 200px
    width: 200px
    margin: 8px
    border: $default-border
    margin: 6px
    box-shadow: $lift-shadow
    background-color: $almost-white
    padding-bottom: 8px
    &:hover
      .card-footer
        display: flex
    .card-header
      padding-bottom: 8px    
    .card-footer
      padding: 8px
      padding-bottom: 0
      display: none     
    .card-image                       
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center
      padding-top: 0
      flex: 1        
      margin: 4px      
    img    
      max-width: 100%
      max-height: 100%
      border: $default-border
      padding: 3px
      border-radius: 3px        
      &.good
        background-color:  $mint-dark          
      &.bad
        background-color:  $grapefruit-dark
      &.unclassified
        background-color:  $aqua-dark