.sidebar
  border-right: $default-border
  background-color: $lightgray-light
  width: 300px
  .title  
    padding: 8px 8px 4px 8px
    min-height: 36px
  .btn-group
    padding: 6px
    padding-bottom: 12px
  section    
    &:not(:last-child)
      border-bottom: $default-border
  .log
    display: flex
    flex-flow: row wrap
    overflow-y: auto
    justify-content: flex-start
    .log-classification
      padding: 5px
      border: $default-border
      border-radius: 3px  
      margin-top: -6px
      background-color: $lightgray-light
      color: $primary        
      .fa-arrow-right
        color: $mediumgray-dark
    .card
      border: $default-border
      margin: 6px
      box-shadow: $lift-shadow
      height: 180px
      width: 130px
      background-color: $almost-white 
      .card-footer
        padding: 0
      .card-image                       
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        padding-top: 0
        flex: 1        
        margin: 4px        
      img
        max-width: 100%
        max-height: 100%
        border: $default-border
        padding: 3px
        border-radius: 3px        
        &.good
          box-shadow: 3px 3px 20px $mint-dark          
        &.bad
          box-shadow: 3px 3px 20px $grapefruit-dark
        &.unclassified
          box-shadow: 3px 3px 20px $aqua-dark